page-admin-home {
    ion-content {
        background-color: #1e1e1e !important;
        background-image: linear-gradient(#1e1e1e 70%, #000) !important;
        font-family: 'Quicksand', sans-serif;
        color: #ffffff !important;
    }
    h3 {
        font-size: 2.3em;
    }
    .stats {
        margin-top: 15%;
    }
}